<server description="Spring Boot">
    <featureManager>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"  host="*" />

    <webApplication id="gs-spring-boot" location="gs-spring-boot-0.1.0.war" contextRoot="gs-spring-boot" />
</server>
